/* Fontawesome Icon */
.dashboard-icon{
    font-size: 3.5rem;
}
.dashboard-photo{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.edit-icon{
    width: 7rem;
    height: 7rem;
    object-fit: cover;

}